.App {
  box-sizing: border-box;
  padding-top:100px;
  background-color: #282c34;
  color:white;

  display:flex;
  flex-direction: row; 

  justify-content: center;

  height: 100vh;

  
}


.main_space{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


